.box{
    background-color: rgb(66, 66, 66);
    height: 350px;
    width: 200px;
    opacity: 50%;

    top:250px;
    left:600px;
    position: absolute;
    z-index: 2;
}

.text{
    font-size: small;
    padding-left: 7px;
    color: white;
}
